*{
    font-family: 'Courier New', Courier, monospace;
}
body {
   display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:#4A628A;
}
.container {
    background: #B9E5E8;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

}
input {
    width: 50px;
    margin: 2px;
    text-align: center;
    font-size: 30px;
    margin-left: 3rem;
    font-weight: 900;
    background-color:#DFF2EB;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin-top: 1.4rem;
}
button {
    padding: 10px;
    background-color:#7AB2D3;
    border: none;
    border-radius: 10px;
    margin-top: 3rem;
    margin-left: 17rem;
    font-weight: 900;
}
button:hover {
    background-color: #4A628B;
}
.output {
    margin-top: 20px;
    line-height: 1.4;
    text-align: center;
    font-weight: 900;
}
.output :hover{
    color: red;
}
.container h2{
    font-size: 35px;
}
.container p{
    font-weight:900;
    font-size: larger;
}

